<mat-toolbar color="primary" class="flex justify-between items-center fixed z-10">
  <span class="text-2xl"><fa-icon [icon]="faShop" class="me-3"></fa-icon>Cafe Management System</span>
  <div class="flex justify-center gap-4">
    <a class="cursor-pointer" (click)="signupAction()">Sign Up</a>
    <a class="cursor-pointer" (click)="forgotPasswordAction()">Forgot Password?</a>
    <a class="cursor-pointer" (click)="loginAction()">Login</a>
  </div>
</mat-toolbar>
<div class="w-full h-[100vh] bg-[url('/assets/pizza.jpg')]"></div>
<div class="flex flex-col py-32 items-center">
  <div class="w-1/2 flex items-center justify-between ms-[34%]">
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
      Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
      Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between me-[34%]">
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold text-end">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
        Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
        Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between ms-[34%]">
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
      Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
      Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between me-[34%]">
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold text-end">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
        Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
        Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between ms-[34%]">
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
      Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
      Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between me-[34%]">
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold text-end">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
        Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
        Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between ms-[34%]">
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
      Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
      Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between me-[34%]">
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold text-end">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
        Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
        Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between ms-[34%]">
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
      Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
      Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
  </div>
  <div class="w-[2px] bg-gray-500 h-[100px] my-[50px]"></div>
  <div class="w-1/2 flex items-center justify-between me-[34%]">
    <div class="w-[65%] flex flex-col gap-y-4">
      <span class="text-3xl font-bold text-end">Pizza</span>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, pariatur corporis commodi sed repudiandae voluptatem tempore ipsa saepe rem officiis? Maxime voluptate a eum necessitatibus. Magnam omnis illum exercitationem molestiae!
        Ratione aut, quam nisi quasi dolore dolorum saepe, dolorem quia officiis perferendis labore magni quaerat consequuntur. Vitae soluta quaerat, dolorum magnam maxime quidem rem minima quae natus. Non, vero temporibus?
        Quia iste ratione rerum ad, dolore reprehenderit repellat rem dolor blanditiis dolores aliquid illum, voluptatibus ab obcaecati necessitatibus nam dolorum ducimus. Quia voluptatum, voluptatem delectus sapiente id cupiditate blanditiis vero!</p>
    </div>
    <div class="overflow-hidden w-[300px] h-[300px] rounded-[50%] bg-[url('/assets/pizza.jpg')] bg-cover"></div>
  </div>
</div>
